@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas {
    width: 850px;
    height: 700px;
    border: 3px solid #32131b;
    border-radius: 12px;
    background: linear-gradient(#0eefbb 0%, #1aa4ea 25%, #1ed9ad 50%, #1aa4ea 75%, #1ed9ad 100%);
}

#button-div {
    display: grid;
}

#generateFish,
#clearFish,
#generateIntruder,
#clearIntruder,
#generateShrimp,
#clearShrimp {
    width: 90px;
    margin-left: 10px;
    margin-right: 0;
    margin-bottom: 10px;
    height: 40px;
    font-size: 20px;
    border-radius: 15%;
    padding: 3px;
}

.title {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 600;
}

#generateFish,
#clearFish {
    color: #f37120;
    background-color: #000000;
}

#generateIntruder,
#clearIntruder {
    color: #000000;
    background-color: #f37120;
}

#generateShrimp,
#clearShrimp {
    color: #251111;
    background-color: #980ef3;
}

#generateFish:hover,
#clearFish:hover {
    cursor: pointer;
    background-color: #410809;
}

#generateIntruder:hover,
#clearIntruder:hover {
    cursor: pointer;
    background-color: #ffc800;
}

#generateShrimp:hover,
#clearShrimp:hover {
    cursor: pointer;
    background-color: #217eb3;
}